<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/ant-design-vue@1.7.2/dist/antd.min.css">
    <link rel="shortcut icon" href="static/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="static/js/moment.js"></script>
    <script src="https://unpkg.com/ant-design-vue@1.7.2/dist/antd.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    dsfsdf
</div>
</body>

<script>

</script>
<style>

</style>
</html>