<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/ant-design-vue@1.7.2/dist/antd.min.css">
    <link rel="shortcut icon" href="static/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="static/js/moment.js"></script>
    <script src="https://unpkg.com/ant-design-vue@1.7.2/dist/antd.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <a-spin :spinning="spinning" size="large">
        <a-layout id="components-layout-demo-top-side" style="height: 100%">
            <a-layout-header style="background-color: #ffffff">
                <div class="logo">
                    <!--                <span>DengBoCong</span>-->
                </div>
                <a-menu
                        theme="light"
                        mode="horizontal"
                        :default-selected-keys="['1']"
                        :style="{ lineHeight: '64px' }"
                        @click="changeModel"
                >
                    <a-menu-item key="transformer">
                        <a-icon type="deployment-unit"></a-icon>
                        Transformer
                    </a-menu-item>
                    <a-menu-item key="smn">
                        <a-icon type="gateway"></a-icon>
                        SMN
                    </a-menu-item>
                    <a-menu-item key="seq2seq">
                        <a-icon type="apartment"></a-icon>
                        Seq2Seq
                    </a-menu-item>
                </a-menu>
            </a-layout-header>
            <a-layout-content style="padding: 0 50px;">
                <a-breadcrumb style="margin: 16px 0">
                    <a-breadcrumb-item>对话系统</a-breadcrumb-item>
                    <a-breadcrumb-item>开放域任务对话</a-breadcrumb-item>
                    <a-breadcrumb-item>{{modelName}}</a-breadcrumb-item>
                </a-breadcrumb>
                <a-layout style="padding: 24px 0; background: #fff" :style="{height: screenHeight}">
                    <a-row :gutter="16">
                        <a-col :span="12">
                            <a-layout-content :style="{'padding': '24px', 'height': commentHeight, 'overflow': 'auto'}">
                                <a-list
                                        v-if="comments.length"
                                        :data-source="comments"
                                        :header="`${comments.length} ${comments.length > 1 ? 'replies' : 'reply'}`"
                                        item-layout="horizontal">
                                    <a-list-item slot="renderItem" slot-scope="item, index">
                                        <a-comment
                                                :author="item.author"
                                                :avatar="item.avatar"
                                                :content="item.request"
                                                :datetime="item.datetime">
                                            <a-comment
                                                    author="机器人"
                                                    :avatar="item.reAvatar"
                                                    :content="item.content"
                                                    :datetime="item.datetime">
                                            </a-comment>
                                        </a-comment>
                                    </a-list-item>
                                </a-list>
                            </a-layout-content>
                            <a-layout-footer :style="{'background-color': 'transparent', 'padding': '0px'}">
                                <a-comment>
                                    <a-row style="">
                                        <a-col :span="20">
                                            <a-textarea :rows="3" :value="value" @change="handleChange"></a-textarea>
                                        </a-col>
                                        <a-col :span="4" style="padding: 8px">
                                            <a-button html-type="submit" :loading="submitting" type="primary"
                                                      @click="handleSubmit"
                                                      style="float:right;width: 100%;margin-top: -5px;">
                                                发送
                                            </a-button>
                                            <a-button html-type="submit" :loading="submitting" type="primary"
                                                      @click="handleSubmit"
                                                      style="float:right;width: 100%;margin-top: 3px;">
                                                聊天
                                            </a-button>
                                        </a-col>
                                    </a-row>
                                </a-comment>
                            </a-layout-footer>
                        </a-col>
                        <a-col :span="12">
                            <a-layout-content :style="{'padding': '24px', 'height': infoHeight, 'overflow': 'auto'}">
                                <a-descriptions title="模型信息">
                                    <a-descriptions-item label="模型名称">
                                        {{modelName}}
                                    </a-descriptions-item>
                                    <a-descriptions-item label="推断模式">
                                        静态图推断
                                    </a-descriptions-item>
                                    <a-descriptions-item label="是否训练模型">
                                        YES
                                    </a-descriptions-item>
                                    <a-descriptions-item label="启动时间">
                                        {{deadline}}
                                    </a-descriptions-item>
                                    <a-descriptions-item label="运行时间" :span="2">
                                        {{deadline}}
                                    </a-descriptions-item>
                                    <a-descriptions-item label="运行状态" :span="3">
                                        <a-badge :status="status" :text="status"></a-badge>
                                    </a-descriptions-item>
                                    <a-descriptions-item label="模型配置信息">
                                        <a-tag v-for="key, value in options">{{value}} : {{key}}</a-tag>
                                    </a-descriptions-item>
                                </a-descriptions>
                            </a-layout-content>
                        </a-col>
                    </a-row>
                </a-layout>
            </a-layout-content>
            <a-layout-footer style="text-align: center">
                © Copyright 2020-2021 DengBoCong. All Rights Reserved.
            </a-layout-footer>
        </a-layout>
    </a-spin>
</div>
</body>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                spinning: false,
                infoHeight: 0,
                commentHeight: 0,
                screenHeight: 0,
                comments: [],
                submitting: false,
                value: '',
                response: '',
                moment,
                status: 'processing',
                options: {},
                deadline: Date.now(),
                url: '/transformer/message',
                modelName: '',
            }
        },
        methods: {
            handleSubmit() {
                if (!this.value) {
                    return;
                }
                this.submitting = true;

                axios({
                    method: 'post',
                    url: this.url,
                    data: {'name': this.value}
                }).then((response) => {
                    this.submitting = false;
                    this.response = response.data
                    this.comments = [
                        {
                            author: 'DengBoCong',
                            avatar: 'https://img-blog.csdnimg.cn/20200522154246646.jpg?x-oss-process=image/watermark,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L0RCQ18xMjE=,size_16,color_FFFFFF,t_70',
                            reAvatar: 'https://img-blog.csdnimg.cn/20200622113122977.jpg?x-oss-process=image/watermark,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L0RCQ18xMjE=,size_16,color_FFFFFF,t_70',
                            content: this.response,
                            request: this.value,
                            datetime: moment().fromNow(),
                        },
                        ...this.comments,
                    ];
                    this.value = '';
                }).catch((error) => {
                    console.log(error)
                })
            },
            handleChange(e) {
                this.value = e.target.value;
            },
            changeModel(item, key, keyPath) {
                this.comments = []
                this.url = "/" + item.key + "/message"
                this.spinning = true
                axios({
                    method: 'get',
                    url: "/" + item.key,
                }).then((response) => {
                    this.modelName = response.data.model
                    this.status = response.data.status
                    this.options = response.data.options
                    this.spinning = false
                }).catch((error) => {
                    console.log(error)
                })
            },
        },
        mounted() {
            this.infoHeight = document.body.clientHeight - 240 + "px";
            this.commentHeight = document.body.clientHeight - 340 + "px";
            this.screenHeight = document.body.clientHeight - 185 + "px";
            axios({
                method: 'get',
                url: '/transformer'
            }).then((response) => {
                this.modelName = response.data.model
                this.status = response.data.status
                this.options = response.data.options
            }).catch((error) => {
                console.log(error)
            })
        },
    })
</script>
<style>
    html, body {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
        background: #fff;
    }

    #app {
        width: 100%;
        height: 100%;
    }

    .el-scrollbar__wrap {
        overflow-x: hidden;
    }

    #components-layout-demo-top-side .logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 28px 16px 0;
        float: left;
    }
</style>
</html>